.custom-scrollbar {
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden; /* Disable horizontal scrolling */
  max-height: 100%; /* Set the maximum height to 70% */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #000b1603;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #27d2f0, #FF00AA);
  border-radius: 10px;
  border: 2px solid #000B16;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s forwards; /* Adjust duration as needed */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.typewriter::after {
  content: "|";
  display: inline-block;
  animation: blink 1s steps(2, start) infinite;
}

.hide-cursor::after {
  content: ""; 
  animation: none; 
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}